@import '../../Styles/mixins';
@import '../../Styles/typography';
@import '../../Styles/variables';

::placeholder{
    color: $primary-color;
    font-family: $font-Light;
}

.des{
    padding: 24px 0 0;  
    @include tablet{
        padding-bottom: 40px;
    }
}

.uploadForm{
    @include tablet{
        border-top: 1px solid $bar-color;
        border-bottom: 1px solid $bar-color;
    }
    @include desktop{
        display: flex;
    }
}

.videoUpload{
    width: 288px;
    height: 153px;
    border-radius: 4px;
    @include tablet{
        width: 344px;
        height: 183px;
    }
    @include desktop{
        margin-right: 24px;
    }
}

.uploadName{
    width: 400px;
    border-radius: 4px;
    border: 1px solid $form-color;
    padding: 15px;
    box-sizing: border-box;
    background-color: $secondary-color;
}

.form{
    width: 100%;
    display: flex;
    height: 100%;
    margin-top: 13rem;
    justify-content: center;
    @include tablet{
        margin-top: 5rem;
    }
    &__container{
        width: 50%;
        margin: 60px 0;
        
    }
}

.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    align-items: center;
}

.uploadDescription{
    @extend .uploadName;
    height: 300px;
    background-color: $secondary-color;
    @include desktop{
        height: 94px;
    }
}

.button__container{
    margin: 32px 0 24px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    @include tablet{
        flex-direction: row-reverse;
        margin: 40px 0 24px;
    }
}

.publishButton{
    width: 100%;
    max-width: 288px;
    padding: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: $button-color;
    color: white;
    font-family: $font-demi;
    @include tablet{
        width: 160px;
    }
    &:hover{
        background-color: #44d43b;
    }
}

.cancel{
    margin: 0;
    border: none;
    background-color: white;
    color: $button-color;
    @include tablet{
        width: fit-content;
        padding-right: 48px;
    }
    &:hover{
        color: #44d43b;
        background-color: white;
    }
}