@import '../../Styles/mixins';
@import '../../Styles/typography';
@import '../../Styles/variables';

.link{
        width: 18%;
        min-width: 180px;
        height: 350px;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 5px;
        margin-bottom: 36px;
        box-shadow: 7px 7px rgba($color:$primary-color , $alpha: 0.3);
        &:hover{
            transform: translate(-4px,-4px);
        }
        &:active{
            transform: translate(4px,4px);
        }
}

.phones{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    padding: 0 16px;
    @include tablet{
        margin-top: 5rem;
        padding: 0 40px;
    }
    &__title{
       margin-top: 48px ;
       margin-bottom: 16px;
       border-bottom: 1px solid $bar-color;
    }
    &__search{
        width: 100%;
        box-sizing: border-box;
        padding: 16px;
        border-radius: 4px;
        border: 1px solid $form-color;
        margin-bottom: 24px;
        @include tablet{
            width: 220px;
            align-self: flex-end;
            
        }   
    }
    &__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
    