@import '../../Styles/mixins';
@import '../../Styles/typography';
@import '../../Styles/variables';

.phones{
    display: flex;
    flex-direction: column;
    margin-top: 13rem;
    padding: 0 16px;
    @include tablet{
        margin-top: 5rem;
        padding: 0 40px;
    }
    &__title{
       margin-top: 48px ;
       margin-bottom: 16px;
       border-bottom: 1px solid $bar-color;
    }
    &__search{
        width: max-content;
        align-self: flex-end;
        width: 220px;
        padding: 16px;
        border-radius: 4px;
        border: 1px solid $form-color;
        margin-bottom: 24px;
    }
    &__list{
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
    