@import '../../Styles/mixins';
@import '../../Styles/typography';
@import '../../Styles/variables';

.hidden{
    display: none;
}

.show{
    display: flex;
    height: 350px;
    flex-direction: column;
    align-items: center;
}

.phone__pic{
    margin: 1rem;
    width: 150px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.phone__name{
    padding:16px 16px 0 16px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $bar-color;
    color: $primary-color ;
}

a{
    text-decoration: none;
}