@import '../../Styles/mixins';
@import '../../Styles/typography';
@import '../../Styles/variables';

.addPhone{
    margin-bottom: 40px;
}

.adminButton{
    justify-content: center;
    @include tablet{
        margin-top: 15rem;
    }
}

.flex_admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
        justify-content: space-around;
        flex-direction: row;
    }
}